{{> header-nav}}
{{!-- Room Name and Code --}}
<div class="room-info">
  <h1 id="room-name">RANDOM ROOM NAME</h1>
  <div class="code-container">
    <p id="room-code">{{room.id}}</p>
    <button id="copy-btn">copy</button>
  </div>
</div>

{{!-- socket.io script --}}
<script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>

<div class="container">
  <div class="chat-window">
    <div class="chat-area">
      <div class="chat-messages">
        <!-- Chat Messages -->
        <ul id="message-list">
        {{#each room.posts}}
          <li>{{content}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
    <div class="user-input">
      <input type="text" id="message-input" placeholder="Type your message...">
      <button id="send-button">Send</button>
    </div>
  </div>
</div>

<div class="participants-container">
  <div class="participants-info">
    <h3 id="participants-title">PARTICIPANTS</h3>
    <h4 id="host">host/admin: {{user.name}}sam</h4>
    <h4 id="guests-title">invited guests:<h4>
    <p id="guests">{{user.name}}will</p>
    <p id="guests">{{user.name}}remi</p>
    <p id="guests">{{user.name}}dakota</p>
  </div>
</div>

<script src="/js/room.js"></script>