{{> header-nav}}
{{!-- Room Name and Code --}}
<div class="room-info">
  <h1 id="room-name">{{room.name}}</h1>
  <div class="code-container">
    <p id="room-code">{{room.id}}</p>
    <button id="copy-btn">copy</button>
  </div>
</div>

{{!-- socket.io script --}}
<script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>

<div class="container">
  <div class="chat-window">
    <div class="chat-area">
      <div class="chat-messages">
        <!-- Chat Messages -->
        <div id="message-list">
          {{#each room.posts}}
          <p>{{user_name}}: {{content}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    <form class="user-input">
      <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off">
      <button type="submit" id="send-button">Send</button>
    </form>
  </div>
</div>

<div class="participants-container">
  <div class="participants-info">
    <h3 id="participants-title">PARTICIPANTS</h3>
    <h4 id="host">host/admin: {{user.name}}sam</h4>
    <h4 id="guests-title">invited guests:</h4>
    <div class="guest-list">
      <h5 id="guests">{{user.name}}will</h5>
      <h5 id="guests">{{user.name}}remi</h5>
      <h5 id="guests">{{user.name}}dakota</h5>
    </div>
  </div>
</div>

{{> footer}}
<script src="/js/room.js"></script>